  <div class="block">
        <div class="header">
            <a href="#/!">
                <div class="back-page" ng-click="">
                   &#10229;
                </div>
            </a>
            <div class="selected-item">{{items[selectedTopic].title}}</div>
        </div>
            <div class="block-comment">
            <div class="comments comment-text" ng-repeat="comment in items[selectedTopic].comments">
                <div class="picture" style="background-color:{{comment.color}}"></div>
                <div class="comment-item">{{comment.text}}</div>
            </div>
            </div>
            <div class="new-comment">
                <div class="new-comment-div">
                    <input type="text" id="newComment" class="input-comment" placeholder="New comment goes here..." autofocus style="width:100%" ng-model="newComment">
                </div>
                <div class="next-page save-comment" class="input-comment" ng-click="addNewComment(items[selectedTopic].id, newComment)">
                    &gt;
                </div>
            </div>
    </div>
    