<div class="comments-block">
    <div class="header">
        <a href="#/!">
            <div class="circle btn_back">
                &#10229;
            </div>
        </a>
        <div class="comments-header__topic">{{selectedTopic.title}}</div>
    </div>
    <div class="comments-list">
        <div class="comments-list__comment" ng-repeat="comment in selectedTopic.comments">
            <div class="comments-list__comment-icon" style="background-color:{{comment.color}}">
            </div>
            <div class="comments-list__comment-text">{{comment.text}}</div>
            <div class="dropdown">
                <button class="dropbtn"><i class="fa fa-pencil"></i>
                </button>
                <div class="dropdown-content">
                    <div ng-click="editComment(selectedTopic.id, comment)">Edit</div>
                    <div ng-click="deleteComment(selectedTopic.id, comment)">Delete</div>
                </div>
            </div>
        </div>
    </div>
    <div class="comments-new-comment">
        <div class="comments-new-comment__wrapper">
            <input type="text" id="newComment" class="comments-new-comment__input input" placeholder="New comment goes here..." autofocus ng-model="newComment" ng-keypress="onNewCommentEnter($event, newComment)">
        </div>
        <div class="circle comments-new-comment__btnAdd" ng-click="addOrUpdateComment(selectedTopic.id, newComment, edit_comment_id)">
            &gt;
        </div>
    </div>
</div>
