  <div class="block">
        <div class="header">
            <a href="#/!">
                <div class="back-page" ng-click="">
                   &#10229;
<!--                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>-->
                </div>
            </a>
            <div class="selected-item">{{items[selectedTopic].title}}</div>
        </div>
            <div class="block-comment">
            <div class="comments comment-text" ng-repeat="comment in items[selectedTopic].comments">
                <div class="picture" style="width:50px; height:50px; background-color:{{comment.color}}"></div>
                <div class="comment-item">{{comment.text}}</div>
            </div>
            </div>
            <div class="new-comment">
                <div style="width:80%">
                    <input type="text" id="text" class="input-comment" placeholder="New comment goes here..." autofocus style="width:100%" ng-model="getNewComment">
                </div>
                <div class="next-page" class="input-comment" ng-click="addNewComment(items[selectedTopic].id, getNewComment)">
                    >
<!--                    <i class="fa fa-chevron-right" aria-hidden="true"></i> -->
                </div>
            </div>
    </div>
    