   <div>
        <div class="header">
            <div class="header-wraper">
                <h1>Sayer</h1>
                <p>World's most used time waster</p>
            </div>
        </div>
        <div class="title" ng-repeat="item in items">
            <div class="title-header" ng-click="showAddCommentPage($index, item.id)">{{item.title}}</div>
            <div class="count-comments" ng-hide="item.comments.length == 0">{{item.comments.length}}</div>
            <div class="delete" ng-click="deleteTopic(item.id)" ng-hide="item.comments.length != 0">Delete</div>
        </div>
        <a href="#!/new">
            <div class="add-new">
                <i class="fa fa-plus" style="color:#f5a8f0" aria-hidden="true"></i>
            </div>
        </a>
    </div>
    