<div>
    <div class="header">
        <a href="#!/">
            <div class="back-page">&#10229;
<!--                <i class="fa fa-long-arrow-left" aria-hidden="true"></i>-->
            </div>
        </a>
        <div class="new-item">Create new item</div>
    </div>
    <div class="title-new">
        <div class="title-new-item">
            <input type="text" id="text" class="input-topic" placeholder="New item title..." style="border:0; outline: 0; background: transparent; border-bottom:1px solid #2b2f3e;" ng-model="topicTitle" autofocus>
        </div>
<!--        <a href="#!/">-->
            <div class="next-page" ng-click="addTopic(topicTitle)">
    <!--            <i class="fa fa-chevron-right" aria-hidden="true"></i>-->>
<!--            </div>-->
        </a>
    </div>
</div>
